// Color palette
$prim-color-1: black;
$prim-color-2: #060055; // Azul oscuro
$prim-color-3: #616161; // Gris
$prim-color-4: white;

$error-color: #EE4848; // Rosado

$exito-prim-color: #0E4402; // Verde
$procesando-prim-color: #AB4909; // Amarillo
$rechazado-prim-color: #A80000; //Rojo
$exito-sec-color: #97D379; // Verde
$procesando-sec-color: #F5C75D; // Amarillo
$rechazado-sec-color: #FBA3A3; //Rojo

$back-color-1: #463F3F;
$back-color-2: darkgrey;
$back-color-3: grey;
$back-color-4: #EAEAEA;
$back-color-5: white;

// Font sets
$title-font-h1: bold 20px helvetica, serif;
$title-font-h2: bold small-caps 16px helvetica, serif;
$title-font-h3: bold small-caps 14px helvetica, serif;

$text-font-normal: 12px helvetica, serif;
$text-font-cursiva: italic 12px helvetica, serif;
$text-font-peq: 8px helvetica, serif;


@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noselect {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

@mixin sombra {
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

@keyframes aparecer-desaparecer {
  0% { opacity: 0; }
  50% { opacity: 100%; }
  100% { opacity: 0; }
}

@keyframes mostrar-horizontal {
  0% { clip-path: polygon(0% -10%, 0% 110%, 25% 110%, 25% -10%); }
  50% { clip-path: polygon(25% -10%, 25% 110%, 100% 110%, 100% -10%);}
  100% { clip-path: polygon(0% -10%, 0% 110%, 25% 110%, 25% -10%); }
}

@keyframes desaparecer-circulo {
  0% { clip-path: circle(0% at 50% 50%); }
  100% { clip-path: circle(200% at 50% 50%); }
}
