@import 'variables';

body {
  background-color: $back-color-1;
  color: $prim-color-1;
  font: $text-font-normal;

  .container {
    width: 80%;
    min-width: 500px;
    overflow-x: auto;
    margin: auto;

    > :not(.cover) {
      display: block;
      animation: 4s desaparecer-circulo;
    }

    > .cover {
      display: none;
    }
  }

  .cargando {
    > :not(.cover) {
      display: none;
    }

    > .cover {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include center-children;

      svg {
        max-width: 75%;
        max-height: 75%;
        aspect-ratio: 1 / 1;

        g.diente {
          animation: 2s aparecer infinite;
        }
        g.encia {
          animation: 2s mostrar-horizontal infinite;
        }
      }
    }
  }
}
