@import 'variables';

html {
  height: 100%;

  body {
    background-color: $back-color-2;
    color: $prim-color-1;
    font: $text-font-normal;

    .container {
      width: 80%;
      min-width: 500px;
      overflow-x: auto;
      margin: auto;

      > :not(.cover) {
        display: block;
        animation: 4s desaparecer-circulo;
      }

      > .cover {
        display: none;
      }
    }

    .cargando {
      > :not(.cover) {
        display: none;
      }

      > .cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include center-children;

        svg {
          max-width: 75%;
          max-height: 75%;
          aspect-ratio: 1 / 1;

          g.diente {
            animation: 2s aparecer-desaparecer infinite;
          }
          g.encia {
            animation: 2s mostrar-horizontal infinite;
          }
        }
      }
    }

    .caja {
      background-color: $back-color-6;
      margin: 50px auto;
      padding: 10px 30px 30px 30px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 30px;
      overflow-x: auto;

      h1 {
        font: $title-font-h1;
        color: $prim-color-2;
        text-align: center;
        position: absolute;
        margin-top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      input[type=submit], input[type=button], button {
        min-width: 100px;
        margin: 0 5px;
        padding: 2px 8px;
        font: $text-font-normal;
        line-height: 26px;
        background: $back-color-4;
        color: $prim-color-1;
        cursor: pointer;
        border: 2px solid $back-color-1;
        border-right-color: $prim-color-3;
        border-bottom-color: $prim-color-3;
        border-radius: 8px;

        &.peq {
          min-width: 50px;
          padding: 0 8px;
          line-height: 18px;
          border-radius: 5px;
        }

        &:hover {
          background: $boton-hover-color;
          color: $prim-color-4;
        }

        &.cancelar:hover {
          background: $error-color;
        }

        &:active {
          background: $boton-active-color;
        }

        &.cancelar:active {
          background: $rechazado-prim-color;
        }
      }
    }
  }
}

.ui-dialog{
  top: 25% !important;
  border-radius: 7px !important;
}
.ui-widget-overlay
{
  opacity: .60 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=60) !important;

  background: rgb(50, 50, 50) !important; /* This will make it darker */
}
