@import 'variables';

div.mensaje {
  width: 450px;
  max-width: 50%;
  padding: 15px 30px;
  font: $text-font-normal;
  font-size: 13px;

  .titulo {
    font: $title-font-h2;

    &.error {
      color: red;
    }

    &.exito {
      color: green;
    }
  }

  form > table {
    margin: auto;
  }
}
