@import 'variables';

div.mensaje {
  width: 450px;
  max-width: 50%;
  padding: 15px 30px;
  font: $text-font-normal;
  font-size: 13px;

  div, p, td {
    font: $text-font-normal;
  }

  .titulo {
    font: $title-font-h2;
    color: $prim-color-1;

    &.error {
      color: red;
    }

    &.exito {
      color: green;
    }
  }

  .centro {
    text-align: center;
  }

  form, div.form > table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 8px;

    input[type="range"] {
      width: 100%;
    }

    div.botones{
      text-align: center;
    }

    div.recarga{
      text-align: center;
      margin: 0 auto;

      &#creditos-recarga {
        font: $text-font-cursiva;
        font-weight: bold;
      }
    }
  }
}

@mixin color-estado($color1, $color2) {
  color: $color1;
  background: $color2;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: context-menu;
  user-select: none;
  @include sombra;
}

div.transacciones {
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid $prim-color-3;
      padding: 3px 8px;
    }

    th {
      font: $title-font-h2;
    }

    td {
      text-align: center;
      white-space: nowrap;

      &.monto::before {
          content: 'COP$ ';
      }

      div.estado {
        font-weight: bold;

        &.approved {
          @include color-estado($exito-prim-color, $exito-sec-color);
        }
        &.authorized, &.pending, &.in_process, &.in_mediation {
          @include color-estado($procesando-prim-color, $procesando-sec-color);
        }
        &.rejected, &.cancelled, &.refunded, &.charged_back {
          @include color-estado($rechazado-prim-color, $rechazado-sec-color);
        }
      }
    }
  }
}

.tooltip {
  position: relative;

  .tooltiptext {
    display: none;
    background-color: $back-color-1;
    color: $prim-color-4;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-right: 5px;
    position: absolute;
    top:0;
    right: 100%;
    z-index: 100;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0%, -50%);
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent transparent $back-color-1;
    }
  }

  &:hover .tooltiptext {
      display: block;
  }
}
