@import 'variables';

.periodontograma {

  table {
    background-color: $back-color-5;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto 10px auto;

    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    th {
      font: $title-font-h3;
    }

    th:not(:first-child) {
      cursor: pointer;
    }

    th:not(:first-child), tr:not(:first-child) > th, td {
      border: 1px $prim-color-1 solid;
    }

    td {

      &.diente_ausente {
        background: repeating-linear-gradient(
          -45deg,
          white, white 4px,
          black 6px, black 6px,
          white 7px
          );

        * {
          display: none;
        }
      }

      a:not(.ni) {
        cursor: pointer;
      }

      input[type=text] {
        font: $text-font-normal;
        text-align: center;
        :invalid {
          color: $error-color;
        }
      }

      input[type=checkbox] {
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 0;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid $prim-color-1;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &.supuración:checked {
          background-color: #fcf230; //amarillo
        }

        &.sangrado:checked {
          background-color: red;
        }
      }
    }
  }
}
