body {
  background-color: inherit !important;
}
body .container {
  width: 100% !important;
}
body .container .caja {
  margin: 0 auto !important;
  box-shadow: none !important;
}
body .container .caja + .caja {
  margin: 15px auto 0 auto !important;
}
