{% extends 'base.html' %}

{% block title %} Activar cuenta {% endblock %}

{% block content %}
  <div class="caja mensaje">
    {% if error %}
      <p class="titulo error">No has confirmado el correo electr&oacute;nico</p>
      <p>{{ mensaje }}.</p>
      <p>
        Enviaremos un nuevo enlace de activaci&oacute;n a tu correo
        electr&oacute;nico para que puedas empezar a utilizar iPerio.
      </p>
      <p>
        Si tienes alguna inquietud,
        <a href="mailto:contacto@i-perio.com">contacta al administrador</a>
        para recibir soporte.
      </p>
      {% set r = conf.crear_codigo_confirmacion(medio, id_usuario, pruebas) %}
    {% else %}
      <p class="titulo exito">Se activ&oacute; la cuenta</p>
      <p>{{ mensaje }}. Ya puedes empezar a usar iPerio.</p>
      <p>Ser&aacute;s redirigid@ a la p&aacute;gina de inicio en 5 segundos.</p>
      <script>
          var timer = setTimeout(function() {
              window.location=`{{ url_for('login') }}`
          }, 5000);
      </script>
    {% endif %}
  </div>

{% endblock %}
