{% extends 'base.html' %}

{% block title %} Periodontograma {% endblock %}

{% block content %}

    {% for grupo in dict.keys() %}
        {% set titulos = dict[grupo]['titulos'] %}
        <table id="tbl_{{ grupo }}">
            <tbody>
                <tr>
                    {% for num, diente in dict[grupo].items() %}
                        {% if num is number %}
                            <th>{{ num }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for titulo in titulos %}
                    <tr>
                      <th>{{ titulo.replace('_', '') }}</th>
                      {% for num, diente in dict[grupo].items() %}
                          {% if num is number %}

                              {% if titulo in 'FURCA' %}
                                  <td>{{ diente['valores'][titulo] }}</td>

                              {% elif titulo in ['N.I.', '_N.I.'] %}
                                  {% set val = diente['valores'][titulo]|join(' ') if diente['valores'][titulo] else '' %}
                                  <td>{{ val }}</td>

                              {% elif titulo in ['SONDAJE', 'MARGEN', '_SONDAJE', '_MARGEN'] %}
                                  {% set val = diente['valores'][titulo]|join(' ') if diente['valores'][titulo] else '' %}
                                  <td><input type="text" value="{{ val }}"size="4"></td>

                              {% elif titulo in ['VESTIBULAR', '_PALATINO', '_VESTIBULAR', 'LINGUAL'] %}
                                  {% if num in primer_diente %}
                                      {% set area = 'a' if titulo in ['VESTIBULAR', 'LINGUAL'] else 'b' %}
                                      {% set img_id = '{}_{}'.format(grupo, area) %}
                                      <td colspan=16><img id="{{ img_id }}" src="{{ imagenes[img_id] }}"/></td>
                                  {% endif %}

                              {% elif titulo in ['SANGRADO', '_SANGRADO', 'SUPURACIÓN', '_SUPURACIÓN'] %}
                                  <td>
                                      {% for i in range(3) %}
                                          <input type="checkbox" value="" {{ 'checked' if diente['valores'][titulo][i] else '' }} />
                                      {% endfor %}
                                  </td>

                              {% else %}
                                  {# Vitalidad, Implante, Movilidad, Placa #}
                                  <td id="{{ num }}_{{ titulo }}" onclick="actualizar_dato(this);">{{ diente['valores'][titulo] }}</td>
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">const tmp = '{{ tmp }}';</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/perio.js') }}" />
{% endblock%}
